/* Add styles for the profile details component */

/* Example styles for the details container */
.profile-details-container {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  h3 {
    font-size: 2em;
    padding-left: 20px;
  }

  button {
    display: block;
    width: 65px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
}

/* Example styles for the profile details */
.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Example styles for the job role */
.job_role {
  font-style: italic;
  color: #666;
  margin-bottom: 15px;
  padding-left: 20px;
}

.designation {
  font-style: italic;
  color: #666;
  margin-bottom: 15px;
}

.degree {
  font-style: italic;
  color: #666;
  margin-bottom: 15px;
}

.company {
  display: flex;
  justify-content: space-between;
}

.schooling {
  display: flex;
  justify-content: space-between;
}

.tenure {
  text-align: right;
  color: #666;
}

.profile-name {
  padding-left: 20px;
}

/* Example styles for the experiences list */
.experiences-list {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
  margin-bottom: 15px;
  border-top: #666;
}

/* Example styles for the academics list */
.academics-list {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
  margin-bottom: 15px;
  border-top: #666;
}

.profile-list-container {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/* Example styles for the profile item */
.profile-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 10px 10px 375px;
  width: 950px;
  background-color: #f4f4f4;
}
