<div [formGroup]="experience">
  <h4 for="experience">Experience:</h4>
  <label for="company_name">Company Name:</label>
  <input type="text" id="company_name" formControlName="company_name" />

  <label for="designation">Designation:</label>
  <input type="text" id="designation" formControlName="designation" />

  <label for="start_date">Start Date:</label>
  <input type="date" id="start_date" formControlName="start_date" />

  <label for="end_date">End Date:</label>
  <input type="date" id="end_date" formControlName="end_date" />

  <label for="responsibility">Responsibility:</label>
  <input type="text" id="responsibility" formControlName="responsibility" />
</div>
