<div [formGroup]="academic">
  <h4 for="academic">Academics:</h4>
  <label for="school">School:</label>
  <input type="text" id="school" formControlName="school" />

  <label for="degree">Degree:</label>
  <input type="text" id="degree" formControlName="degree" />

  <label for="start_date">Start Date:</label>
  <input type="date" id="start_date" formControlName="start_date" />

  <label for="end_date">End Date:</label>
  <input type="date" id="end_date" formControlName="end_date" />

  <label for="description">Description:</label>
  <input type="text" id="description" formControlName="description" />
</div>
